---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-deployment-modules
  labels:
    k8s-app: metricbeat
data:
  # This module requires `kube-state-metrics` up and running under `kube-system` namespace
  kubernetes.yml: |-
    - module: kubernetes
      metricsets:
        - state_node
        - state_deployment
        - state_replicaset
        - state_statefulset
        - state_pod
        - state_container
        - event
      period: 10s
      host: ${NODE_NAME}
      hosts: ["{{ .Release.Name }}-kube-state-metrics.{{ default "kube-system" .Release.Namespace }}:8080"]
{{- with .Values.customMetricbeatDeploymentModules }}
  {{- toYaml . | nindent 2 }}
{{- end }}
