---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-deployment-modules
  labels:
    k8s-app: metricbeat
data:
  # This module requires `kube-state-metrics` to be deployed and accessible
  # Configure the location via .Values.kubeStateMetrics
  kubernetes.yml: |-
    - module: kubernetes
      metricsets:
        - state_node
        - state_deployment
        - state_replicaset
        - state_statefulset
        - state_pod
        - state_container
        - event
      period: 10s
      host: ${NODE_NAME}
      hosts: ["{{ .Values.kubeStateMetrics.serviceName }}.{{ .Values.kubeStateMetrics.namespace | default .Release.Namespace }}:{{ .Values.kubeStateMetrics.port }}"]
{{- with .Values.customMetricbeatDeploymentModules }}
  {{- toYaml . | nindent 2 }}
{{- end }}
